/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.7.2022, 11:57:18
    Author     : AdminRuzicka
*/

.male { height: 24px; width: 50px }
.velke { height: 24px; width: 105px }
.zavorky { height: 24px; width: 22px }